### Notebook for processing csv files from FFA in preperation for writing to database

ToDO:
* move "csv_to_db" directory to db 
* update "root_dir" variable

In [1]:
import pandas as pd
import glob

In [44]:
pwd

'/home/misc/csv_to_db'

In [3]:
ls

2021_states.db*                Dockerfile*       poetry.lock*     testing.txt*
Docker-compose_dbwriter.yaml*  csv_to_db.ipynb*  pyproject.toml*

In [4]:
ls ../../

Docker-compose.yaml*  data_analysis/    db/   misc/
Dockerfile*           data_collection/  ffa/  web/

In [54]:
# setting root directory for glob selections
root_dir = "../../db/data/"

matching_string = "*.csv"
files = glob.glob(matching_string, root_dir=root_dir)

In [55]:
def return_file_week(file_name):
    """ 
    funtion to process file name string to return name of week
    
    Parameters:
    -----------
    file name: str
        name of file to be processed
    
    Return:
    -----------
    str
        week number from file name    
    """
    
    list_file_name = file_name.split("_")

    str_wk_num = list_file_name[2].split(".")[0]

    return str_wk_num

In [56]:
def iterative_read_csv_to_pandas(files):
    
    table_names = [return_file_week(file) for file in files]
    
    list_of_dataframes = []
    
    for table_name, file in zip(table_names, files):
        
        df = pd.read_csv(f'{root_dir}{file}', index_col=0, header=0)
        
        list_of_dataframes.append(df)
        
    return list_of_dataframes

In [57]:
dfs = iterative_read_csv_to_pandas(files)

In [7]:
files

['projections_2021_wk15.csv',
 'projections_2021_wk17.csv',
 'projections_2021_wk19.csv',
 'projections_2021_wk7.csv',
 'projections_2021_wk8.csv',
 'projections_2021_wk9.csv']

In [8]:
files[1]

'projections_2021_wk17.csv'

In [9]:
type(files[1])

str

In [29]:
table_names = []

for file in files:

    table_name = return_file_week(file)

    table_names.append(table_name)
    
print(table_names)

['wk15', 'wk17', 'wk19', 'wk7', 'wk8', 'wk9']

In [13]:
pwd

'/home/misc/csv_to_db'

In [14]:
wk7_stats = pd.read_csv("../../db/data/projections_2021_wk7.csv", index_col=0, header=0)

In [16]:
wk7_stats.head()

,player,team,pos,pass_yds,pass_yds_sd,pass_tds,pass_tds_sd,pass_int,pass_int_sd,rush_yds,...,dst_fum_rec_sd,dst_safety,dst_safety_sd,dst_td,dst_td_sd,dst_blk,dst_blk_sd,pts_bracket,pts_bracket_sd,injury_status
id,,,,,,,,,,,,,,,,,,,,,
79860,Matthew Stafford,LAR,QB,304.8619,26.1657,2.5146,0.4769,0.7359,0.1583,6.8445,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2558125,Patrick Mahomes,KC,QB,319.8838,11.3176,2.6174,0.3748,0.5710,0.3101,26.1158,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2504211,Tom Brady,TB,QB,306.0356,10.9334,2.5642,0.3843,0.5749,0.3200,3.9867,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2562382,Kyler Murray,ARI,QB,277.9768,17.8569,2.2311,0.4489,0.5526,0.2993,35.2648,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,Matt Ryan,ATL,QB,288.8151,17.4457,1.8543,0.0935,0.8151,0.1893,3.8261,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
wk7_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315 entries, 79860 to 100026
Data columns (total 40 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player           315 non-null    object
 1   team             315 non-null    object
 2   pos              315 non-null    object
 3   pass_yds         38 non-null     float64
 4   pass_yds_sd      38 non-null     float64
 5   pass_tds         38 non-null     float64
 6   pass_tds_sd      38 non-null     float64
 7   pass_int         38 non-null     float64
 8   pass_int_sd      38 non-null     float64
 9   rush_yds         284 non-null    float64
 10  rush_yds_sd      271 non-null    float64
 11  rush_tds         284 non-null    float64
 12  rush_tds_sd      271 non-null    float64
 13  fumbles_lost     288 non-null    float64
 14  fumbles_lost_sd  270 non-null    float64
 15  two_pts          51 non-null     float64
 16  two_pts_sd       51 non-null     float64
 17  return_tds       0 non-null      float64
 18  return_tds_sd    0 non-null      float64
 19  rec              251 non-null    float64
 20  rec_sd           233 non-null    float64
 21  rec_yds          251 non-null    float64
 22  rec_yds_sd       233 non-null    float64
 23  rec_tds          251 non-null    float64
 24  rec_tds_sd       233 non-null    float64
 25  dst_int          26 non-null     float64
 26  dst_int_sd       26 non-null     float64
 27  dst_sacks        26 non-null     float64
 28  dst_sacks_sd     26 non-null     float64
 29  dst_fum_rec      26 non-null     float64
 30  dst_fum_rec_sd   26 non-null     float64
 31  dst_safety       26 non-null     float64
 32  dst_safety_sd    26 non-null     float64
 33  dst_td           26 non-null     float64
 34  dst_td_sd        26 non-null     float64
 35  dst_blk          0 non-null      float64
 36  dst_blk_sd       0 non-null      float64
 37  pts_bracket      26 non-null     float64
 38  pts_bracket_sd   26 non-null     float64
 39  injury_status    25 non-null     object
dtypes: float64(36), object(4)
memory usage: 100.9+ KB

In [20]:
string_columns = wk7_stats.select_dtypes(include="object")
float_columns = wk7_stats.select_dtypes(include="float64")

In [21]:
string_columns.head()

                   player team pos injury_status
id
79860    Matthew Stafford  LAR  QB           NaN
2558125   Patrick Mahomes   KC  QB           NaN
2504211         Tom Brady   TB  QB           NaN
2562382      Kyler Murray  ARI  QB           NaN
310             Matt Ryan  ATL  QB           NaN

In [22]:
float_columns.head()

,pass_yds,pass_yds_sd,pass_tds,pass_tds_sd,pass_int,pass_int_sd,rush_yds,rush_yds_sd,rush_tds,rush_tds_sd,...,dst_fum_rec,dst_fum_rec_sd,dst_safety,dst_safety_sd,dst_td,dst_td_sd,dst_blk,dst_blk_sd,pts_bracket,pts_bracket_sd
id,,,,,,,,,,,,,,,,,,,,,
79860,304.8619,26.1657,2.5146,0.4769,0.7359,0.1583,6.8445,3.9259,0.0659,0.0669,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2558125,319.8838,11.3176,2.6174,0.3748,0.5710,0.3101,26.1158,4.5566,0.1750,0.0913,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2504211,306.0356,10.9334,2.5642,0.3843,0.5749,0.3200,3.9867,1.1001,0.1091,0.0770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2562382,277.9768,17.8569,2.2311,0.4489,0.5526,0.2993,35.2648,5.5321,0.4103,0.2483,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,288.8151,17.4457,1.8543,0.0935,0.8151,0.1893,3.8261,3.2277,0.0547,0.0377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
len(wk7_stats.columns) == len(string_columns.columns) + len(float_columns.columns)

True

In [30]:
table_names

['wk15', 'wk17', 'wk19', 'wk7', 'wk8', 'wk9']

In [ ]:
def iterative_read_csv_to_pandas(files):
    
    for file in list_of_table_names:
        table = pd.read_csv

In [33]:
file?

Type:        str
String form: projections_2021_wk9.csv
Length:      24
Docstring:
str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

In [58]:
dfs[3].head()

,player,pos,team,points,sd_pts,dropoff,floor,ceiling,points_vor,floor_vor,...,rank,floor_rank,ceiling_rank,pos_rank,tier,ecr,sd_ecr,risk,injury_status,pos_chr
id,,,,,,,,,,,,,,,,,,,,,
2560955,Josh Allen,QB,BUF,26.8,1.77,2.700,24.4,29.2,7.21,6.830,...,4,5.0,2.0,1,1.0,1.04,0.20,4.13,NaN,QB
2558125,Patrick Mahomes,QB,KC,24.1,1.67,0.703,21.8,26.5,4.51,4.240,...,19,22.0,15.0,2,1.0,2.28,0.45,4.30,NaN,QB
2562382,Kyler Murray,QB,ARI,23.4,1.34,0.146,21.5,25.3,3.81,3.860,...,26,28.0,28.0,3,1.0,2.76,0.65,4.29,NaN,QB
2564832,Jalen Hurts,QB,PHI,23.3,3.10,0.960,17.9,26.2,3.66,0.254,...,29,82.0,19.0,4,2.0,4.72,0.87,5.54,NaN,QB
79860,Matthew Stafford,QB,LAR,22.3,2.23,1.440,18.9,25.0,2.70,1.280,...,42,62.0,32.0,5,3.0,4.48,0.70,4.87,NaN,QB